.register_icon {
    background: white;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    color: rgb(9, 25, 9);
    width: 280px;
}

.register_icon>input::placeholder {
    color: gray;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    left: 15px;
    top: 2px;
    bottom: 2px;
}

.register_icon>input {
    margin: 5px 0;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    overflow: hidden;
    width: 100%;
}


/* .register_icon>.muiSvgIcon-root {
    font-size: 2rem !important;
    position: relative;
    left: 20px;
    margin-right: 100px;
} */